<div class="container" id="container">
	ConfessBin  Share on : <%= social_share_button_tag("hello", :url => root_path) %>
<%= form_for Secret.new do |f| %>

	<input type="text" name="title" class="form-control"/>
	<textarea name="description" class="form-control"></textarea>
<input type="submit"/>
<% end %>
<br/>
<h4>All Secrets</h4><br/><br/>
<% @secrets.each do |s| %>
<div class="item">
<%= link_to s.title, secret_path(s) %>
<br/>
<%= s.description %>
<br/>
Comments: <%= s.comments.count %>
Share on : <%= social_share_button_tag(s.title, :url => "http://www.confessbin.com/secrets/#{s.id}") %>
</div>
<!-- Likes:   -->
<!-- <a href="/new_like//secret">Like</a> -->
<% end %>
</div>
<script type="text/javascript">
var $container = $('#container');
// initialize
$container.masonry({
  columnWidth: 200,
  itemSelector: '.item'
});
var msnry = $container.data('masonry');
</script>
