<%
meta title: "Funny Confessions and Secrets",
     description: @secret.description
%>
<br/><br/><br/>
<div class="row">
<div class="col-md-3"></div>
<div class="secret-desc col-md-6">
	<%= @secret.description %>
</div>
</div>
<div class="row soc-share">
	<div class="col-md-5"></div>
	<div class="col-md-2">
        <a href="#" class="icon-link text-center">
          <span class="icons-container">
            <i class="fa fa-facebook"></i>
          </span>
        </a>
        <a href="#" class="icon-link text-center">
          <span class="icons-container">
            <i class="fa fa-twitter"></i>
          </span>
        </a>
        <a href="#" class="icon-link text-center">
          <span class="icons-container">
            <i class="fa fa-google"></i>
          </span>
        </a>
        <a href="#" class="icon-link text-center">
          <span class="icons-container">
            <i class="fa fa-pinterest"></i>
          </span>
        </a>
    </div>
</div>
<div class="container comments-container">
	<br/><br/>
<%= @comments_count %> Comments<hr/>
<% @comments.each do |c| %>
	<div class="comment">
		<%= c.comment %><hr/>
	</div>
<% end %><br/>

<%= form_for Comment.new do |f|%>
<div class="col-md-1"></div>
<div class="col-md-7">
	<input type="text" name="comment" class="form-control" style="
    height: 40px;
    font-size: 16px;
    background-color:rgb(210, 217, 221);
"/>
</div>
	<input type="hidden" name="secret_id" value="<%= @secret.id %>"/>
	<div class="col-md-3"><input type="submit" value="Comment" class="btn btn-default"/></div>
<% end %>

</div>