<!DOCTYPE html>
<html>
<head>
  <title>Confessbin</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
</head>
<body>

  <header class="header-menu">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <a class="logo" href="/">ConfessBin</a>
        </div>
        <div class="col-lg-6">
         <%= search_form_for @search, :url => home_index_path, :html => {:class => "", :role=>"search"} do |f| %>
         <div class="search_box_container">
          <i class="md md-search"></i>
          <%= f.text_field :description_cont, :class => "search-input", :placeholder => "Search" %>
        </div>
        <% end %>
      </div>
      <div class="col-lg-2 col-lg-offset-1">
        <a class="post_secret post-btn">Post a Secret</a>
      </div>
    </div>
  </div>
</header>
<br/>
<div class="container secret-desc" style="padding: 10px 15px;">
	Trending: <% SimpleHashtag::Hashtag.all.order(created_at: :desc).take(20).each do |h| %>
		<%= link_to "#"+h.name+" ", home_index_path(:hash => h.name) %>
	<% end %>
</div>
<%= yield %>
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">POST A SECRET !</h4>
      </div>
      <div class="modal-body">
        <%= form_for Secret.new do |f| %>
        <textarea name="description" class="form-control secret-input" rows="6" placeholder="Write Your Confession"></textarea><br/>
        <input type="submit" class="btn btn-info"/>
        <% end %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
