<!DOCTYPE html>
<html>
<head>
  <title>Confessbin</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        ConfessBin <%= social_share_button_tag("hello", :url => root_path) %>
      </a>
    </div>
  </div>
</nav>
<%= yield %>

</body>
</html>
