<!DOCTYPE html>
<html>
<head>
  <title>Confessbin</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
</head>
<body>

  <header class="header-menu">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <a class="logo" href="/">ConfessBin</a>
        </div>
        <div class="col-lg-6">
         <%= search_form_for @search, :url => home_index_path, :html => {:class => "", :role=>"search"} do |f| %>
         <div class="search_box_container">
          <i class="md md-search"></i>
          <%= f.text_field :description_cont, :class => "search-input", :placeholder => "Search" %>
        </div>
        <% end %>
      </div>
      <div class="col-lg-2 col-lg-offset-1">
        <a class="post_secret post-btn">Post a Secret</a>
      </div>
    </div>
  </div>
</header>
<section class="">
  <div class="container"></div>
</section>
<%= yield %>

</body>
</html>
